<nav class="navbar navbar-expand-sm navbar-light">
    <ul class="navbar-nav mr-auto">
        <li class="navbar-item">
            <a class="nav-link" href="">Reviews</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/reviews/new">Add</a>
        </li>
    </ul>
    <ul class="ml-auto">
        <div class="dropdown nav-item">
            <div class="dropdown-toggle" id="search-bar" data-toggle="dropdown">Sort Options
            </div>
            <div class="dropdown-menu">
                <div class="dropdown-item" id='sort-az'>
                    Sort A-Z
                </div>
                <div class="dropdown-item" id='sort-za'>
                    Sort Z-A
                </div>
                <div class="dropdown-item" id='sort-most-recent'>
                    Most Recent
                </div>
            </div>
        </div>
    </ul>
</nav>