<% include ../partials/header %>

    <% include ../partials/sortbar %>

        <div id="wallDynamic"></div>

        <div class="row text-left" style="display:flex; flex-wrap: wrap;">

            <% include ../partials/footer %>

                <!-- <% reviews.forEach(function (review) { %>
            <div class="col-md-3 col-sm-3">
                <div class="thumbnail">
                    <img src="<%= JSON.parse(review.omdbInfo).Poster %>">
                    <div class="caption">
                        <h4>
                            <%= JSON.parse(review.omdbInfo).Title %>
                        </h4>
                    </div>
                    <p>
                        <a href="/reviews/<%= review._id %>" class="btn btn-primary">Read Review</a>
                    </p>
                </div>
            </div>
            <% }); %>

    </div>

    </div> -->