<% include ../partials/header %>
    <div class="p-2 shadow" id="ck-frame">
        <div class="p-2 pl-4 pr-4 shadow-sm" id="ck-frame-matte">
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8 shadow mb-3 mt-3">
                    <h1>Write a new review</h1>
                    <form class="" action="/reviews" method="post">
                        <div class="form-group">
                            <label for="imdbID">Imdb ID</label>
                            <input class="form-control" id="imdbName" name="imdbID" type="text" placeholder="paste imdbID here">
                        </div>
                        <div class="form-group">
                            <label for="reviewText">Your Review</label>
                            <textarea class="form-control" id="reviewText" name="reviewText" type="text" placeholder="type review here" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="rating">Rating</label>
                            <input class="form-control" id="rating" name="rating" type="text" placeholder="your rating">
                        </div>
                        <div class="form-group">
                            <label for="date">Original Review Date</label>
                            <input class="form-control" id="date" name="date" type="date" placeholder="original review date">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-primary btn-dark br-0">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>